html {
    background-color: #282828;
}

.divBtn {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.info {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    background-color: #e4690b48;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(206, 206, 206);
}

button {
    height: 50px;
    width: 200px;
    font-size: 17px;
    background-color: #282828;
    color: #E46A0B;
    border: #E46A0B 1px solid;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #E46A0B;
    color: #282828;
}

button:active {
    background-color: #e4690b94;
    border: #e4690b94;
}